<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="/js/three.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="nitech Createのウェブサイト 現在整備中" />
  <link rel="shortcut icon" href="/img/favicon.ico"">
  <title>niC <%- page.title %></title>
 <!--Twitterカード-->
 <meta name="twitter:card" content="summary" />
 <meta name="twitter:site" content="@Nitech_create"/>
 <meta property="og:url" content="<%- url %>" />
 <% if(page.path=="index.html"){ %>
     <meta property="og:title" content="nitech Create 公式サイト"/>
     <meta property="og:type" content="website" />
 <% }else{ %>
     <meta property="og:title" content="niC - <%- page.title %>"/> 
     <meta property="og:type" content="article" />
<% } %> 
 <meta property="og:description" content="<%- page.title %> <%- config.ogdescription %>" />
 <meta property="og:image" content="https://nitech-create.com/img/ogp.png" />
 <!--検索とか-->
 <meta property="description" content="<%- page.title %> <%- config.description %>" />
 <meta name="author" content="nitech Create" />
 <meta http-equiv="content-language" content="ja" />
</head>
<body>
  <link rel="stylesheet" href="/css/page.css">
  <div id="navwrapper">
    <nav id="navbar">
      <div class="hidden_pc">
        
    <button id="btn_menu"><span class="material-icons button_large">
      navigate_before
      </span></button>
      </div>
      <ul>
          <li>
              <a href="/">トップページ</a>
          </li>
          <li>
              <a href="/activities">アクティビティ</a>
          </li>
          <li>
              <a href="/members">メンバー</a>
          </li>
          <li>
              <a href="/forms">お問い合わせ</a>
          </li>
      </ul>
  </nav>
  </div>

    <%- body %>
    
    <script src="/js/navsm.js"></script>
</body>
</html>